
.body {
    background-color: #282c34;
    color: orange;
    padding: 10 px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
.button{
  background-color: orange; /* Green */
  border: none;
  color:rgb(53, 52, 52);
  padding: 10px 20px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 3px 3px 3px;
  margin-top: 50px;
  

  }
  .textfield{
    border: none;
  color:black;
  padding: 5px 1px 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px; 
  box-shadow: 1px 1px 3px;
  width: 198px;
  }
  .form{
    background-color: #282c34;
    color: orange;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    position:relative;
    width: 400px;
    

  }
  ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.main{
  background-color: orange;
  margin: 0;
  padding: 20px;
}
.active {
  background-color: #0099FF;
}